.color-card {
  margin: 0px 10px;
  padding: 5px;
}

.color-card-highlight {
  display: inline;
  padding: 2px 6px;
  background: black;
  color: white;
  border-radius: 5px;
  margin: 5px;
}

.warning {
  background-color: orange;
  font-weight: bold;
  color: black;
  padding: 4px;
}
.colorFieldButtons {
  display: flex;
  justify-content: space-between;
}

.colorButtons {
  display: flex;
  justify-content: flex-end;
}

.no {
  background-color: red;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  margin: 5px;
}

.yes {
  background-color: rgb(30, 154, 30);
  font-weight: bold;
  color: white;
  border-radius: 5px;
  margin: 5px;
}
